// Jumbotron
- var classes = ['jumbotron','jumbotron-fluid']
div(class = classes)
  div(class = container)
    h1 Ini Jumbotron
      h6 This is a modified jumbotron that occupies the entire horizontal space of its parent.