doctype html
html(lang='id')
  head
    title BEM KM IPB
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', type='text/css', href='bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../css/style.css')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src='bootstrap/js/bootstrap.bundle.min.js')

  header
    include includes/navbar.pug
  
  body
    // Jumbotron
    div.jumbotron
      div#text-inside
        h1.text-center Judul Jumbotronnya Ini
        p(class='text-center') Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque finibus neque, ut consectetur ante consequat sit amet. 
          br/ Cras sit amet enim vitae mauris convallis malesuada. Integer sem felis, hendrerit vitae sodales ac, ultricies a libero. 
          br/ Vivamus ut auctor lectus. Fusce non massa quis purus volutpat faucibus quis vitae tortor. Proin faucibus dolor malesuada, suscipit nisl quis, 
          br/ maximus diam. Suspendisse leo sem, dignissim at mauris sodales, tempor consequat orci. Donec eleifend faucibus orci vitae ullamcorper. 
          br/ 